.container {
    height: 90vh;
    width: 50vw;
    display: grid;
    border: 1px solid black;

    margin-top: 10px;
    background-color: white;
}
.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.header {
    color: #F9FAF8;;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-align: center;
}
body{
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}

#slider-output {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
}

.controls {
    /*border: 1px black solid;*/
    /*height: 530px;*/
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
}
.buttons, .controls{
    display: flex;
    flex-direction: column;
}


.buttons button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0;

}









